page-feed {

    // .toolbar-background {
    //     background-image: url('../../assets/imgs/gradient.png');
    // }

    ion-content.has-refresher > .scroll-content {
        background-color: none;
    }
    

    // .scroll-content {
    //     background: #87ceeb;
    // }

    .card-content h6 {
        font-size: 1.4rem;
        font-weight: bold;
    }

    .card-content p {
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        padding: 8px;
        margin: 4px 8px;
    }

}
